@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC:wght@300;400;700&display=swap');


body {
  margin: 0;
  font-family: "LXGW WenKai TC", cursive;
  font-size: 20px;
}

h1, h2 {
  letter-spacing: 4px;
  margin: 0;
}

.title {
  font-size: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  font-family: "LXGW WenKai TC", cursive;
  border: 2px solid rgba(0, 0, 0, 20%);
  border-radius: 5px;
  font-size: 18px;
}

input:focus {
  border: 2px solid #07497f;
  outline: none;
}

input[type="button"], input[type="submit"], button[type="button"] {
  cursor: pointer;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

.header {
  background-color: #07497f;
  color: #fff;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-input {
  box-sizing: border-box;

  width: 300px;
  height: 40px;
  padding: 0 10px;
}

.header__search:focus {
  border: 2px #075ca1 solid;
}

.form {
  padding: 25px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.form__input {
  flex: 1;
}

.btn {
  box-sizing: border-box;

  height: 40px;
  background-color: #07497f;
  color: #fff;
}

.tasks, .archive {
  margin-top: 15px;
}

.archive-title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button[type="button"]{
  margin-top: 25px;
  font-family: "LXGW WenKai TC", cursive;
  border: 2px solid rgba(0, 0, 0, 20%);
  border-radius: 5px;
  font-size: 18px;
}

.tasks__item, .archive__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 15px 20px;

  border: 0.5px solid #000;
  border-right-width: 1px;
  border-left-width: 1px;
}

.tasks__item:first-child, .archive__item:first-child {
  border-top-width: 1px;
}

.tasks__item:last-child, .archive__item:last-child {
  border-bottom-width: 1px;
}

.tasks__item-btns{
  display: flex;
  gap: 20px;
}

/* .tasks__item-date{
  position: absolute;
  bottom: 1px;
  left: 5px;

  font-size: 15px;
} */

.tasks__btn[data-action=delete]{
  background-color: #fcfcfc;
  color: #7f0707;
  border-color: #7f070730;
}

.tasks__btn[data-action=edit]{
  background-color: #fcfcfc;
  color: #b4b10d;
  border-color: #717f0730;
}

.tasks__btn[data-action=done]{
  background-color: #fcfcfc;
  color: #077f0f;
  border-color: #157f0730;
}

.archive__title{
  margin-top: 25px;
  color: #7c7c7c;
}

.archive__item{
  color: #7c7c7c;
  border-color: #7c7c7c;
}